<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReactInAspNet</title>

    <environment include="Development">
        <script src="https://unpkg.com/react@16.4.1/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.development.js" crossorigin></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/react@16.4.1/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.production.min.js" crossorigin></script>
    </environment>

    <script src="~/React/dist/main.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/skeleton.css" asp-append-version="true"></script>
</head>
<body>

    <div class="container body-content">
        <main>
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>&copy; 2018 - larenelg</p>
        </footer>
    </div>
</body>
</html>
